
header{
    background-color: lightgray;
    height: 100%;
}
nav{
    background-color: darkgray;
    
}
#nav1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#nav1 li{
    float: left;
}

#nav1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
}

#nav1 li a:hover {
    background-color: #111;
}
